<div class="panel">
  <label for="connInput">Connection Count:</label>
  <br>
  <input id="connInput" type="number" value="200">
  <br>
  <label for="sockInput">Socket Per Connection:</label>
  <br>
  <input id="sockInput" type="number" value="10">
  <br>
  <label for="durationInput">Duration(ms):</label>
  <br>
  <input id="durationInput" type="number" value="5000">
  <br><br>
  <div class="status">STOPPED</div>
  <br>
  <div class="btnPanel">
    <button (click)="start()">Start</button>
  </div>
  <div class="log"></div>
</div>