.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btnPanel button {
    margin-right: 10px;
    margin-left: 10px;
}

.status {
    background-color: black;
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}
