ace {
  width: 100%;
  height: calc(100% - 6em);
}

.editor-panel {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.center-container {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: row;
}

.option-panel {
  width: 20%;
  height: 100%;
}
.option-panel-light {
  background-color: white;
}
.option-panel-dark {
  background-color: darkcyan;
}

.editor-options {
  height: 80px;
  width: 100%;
}

.languageSelect {
  width: 80px;
  margin-left: 40px;
  margin-top: 20px;
}

.fontsizeSelect {
  width: 80px;
  margin-left: 40px;
  margin-top: 20px;
}

.comment-section {
  height: calc(100% - 100px);
}

.comment {
  width: calc(100% - 40px);
  height: calc(100% - 100px);
  max-height: calc(100% - 160px);
  overflow: auto;
  padding-left: 40px;
}
.comment-light {
  background-color: lightgray;
}
.comment-dark {
  background-color: darkslategray;
}

.commentInput {
  margin-top: 10px;
  margin-left: 40px;
}
.commentInput mat-form-field {
  width: calc(100% - 40px);
  height: 80px;
}

#submitComment {
  position: relative;
  top: 20px;
}

.control-panel {
  display: flex;
  flex-direction: row;
  height: 6em;
  overflow: hidden;
}

.control-panel button {
  height: 40px;
}

.control-panel button,
.shareDisplay {
  margin-top: 20px;
  margin-left: 30px;
}

.shareDisplay {
  height: 40px;
  width: 250px;
}

.shareDisplay input {
  cursor: pointer;
}

.cbCheckbox {
  position: relative;
  top: 30px;
  margin-left: 30px;
}

.link,
.linkOff {
  font-size: 36pt;
  cursor: default;
  margin-top: 15px;
  margin-left: 30px;
}
.link {
  color: greenyellow;
}
.linkOff {
  color: orangered;
}

@media screen and (max-width: 1450px) {
  .control-panel {
    flex-wrap: wrap;
  }

  .editor-panel {
    width: 70%;
  }

  .option-panel {
    width: 30%;
  }
}

@media screen and (max-width: 860px) {
  .editor-panel {
    width: 60%;
  }

  .option-panel {
    width: 40%;
  }
}

@media screen and (max-width: 670px) {
  .center-container {
    overflow: hidden;
  }
  .option-panel {
    position: absolute;
    right: 0;
    z-index: 999;
    height: calc(100vh - 60px);
    transition: 200ms;
    width: 20px;
    overflow: hidden;
  }
  .option-panel:hover {
    width: 300px;
    transition: 200ms;
  }
}

@media screen and (max-width: 500px) {
  .center-container {
    height: calc(100vh - 130px);
  }
  .cbCheckbox {
    top: 18px;
    height: 24px;
  }
  .option-panel {
    height: 100vh;
    top: 0;
  }
}

@media screen and (max-height: 795px) {
  .control-panel button,
  .shareDisplay {
    margin-top: 10px;
  }
  .link,
  .linkOff {
    margin-top: 5px;
  }
  .cbCheckbox {
    top: 18px;
    height: 24px;
  }
}
