<div>
    <div><app-header></app-header></div>
    <div class="center-container">
        <div class="editor-panel">
            <ace [mode]="editorMode" [theme]="editorTheme" [(value)]="value" [disabled]="readonly" #editor></ace>
            <div class="control-panel">
                <button mat-raised-button color="primary" *ngIf="!readonly" id="btnSave" (click)="saveProject()">Save</button>
                <button mat-raised-button color="accent" (click)="downloadProjectImage()">Download As Image</button>
                <button mat-raised-button color="accent" (click)="downloadProjectFile()">Download As File</button>
                <mat-checkbox class="cbCheckbox" *ngIf="!readonly" (change)="readonlyChanged($event)" [checked]="project?.isReadonly" matTooltip="Readonly for other user." [matTooltipPosition]="'above'">Readonly</mat-checkbox>
                <mat-form-field *ngIf="saved" class="shareDisplay" matTooltip="Click To Copy" [matTooltipPosition]="'above'">
                    <mat-label>Share URL</mat-label>
                    <input matInput [readonly]="true" (click)="copyAction($event)" value="{{getShareUrl()}}">
                </mat-form-field>
            </div>
        </div>
        <div class="option-panel option-panel-dark">
            <div class="editor-options">
                <mat-form-field class="languageSelect">
                    <mat-label>Select Language</mat-label>
                    <mat-select [(value)]="editorMode">
                        <mat-option value="c_cpp">C/C++</mat-option>
                        <mat-option value="coffee">Coffee</mat-option>
                        <mat-option value="csharp">C#</mat-option>
                        <mat-option value="css">CSS</mat-option>
                        <mat-option value="dockerfile">Dockerfile</mat-option>
                        <mat-option value="fortran">Fortran</mat-option>
                        <mat-option value="golang">Go</mat-option>
                        <mat-option value="html">HTML</mat-option>
                        <mat-option value="java">Java</mat-option>
                        <mat-option value="javascript">Javascript</mat-option>
                        <mat-option value="json">JSON</mat-option>
                        <mat-option value="jsp">JSP</mat-option>
                        <mat-option value="kotlin">Kotlin</mat-option>
                        <mat-option value="markdown">Markdown</mat-option>
                        <mat-option value="php">PHP</mat-option>
                        <mat-option value="python">Python</mat-option>
                        <mat-option value="r">R</mat-option>
                        <mat-option value="ruby">Ruby</mat-option>
                        <mat-option value="swift">Swift</mat-option>
                        <mat-option value="xml">XML</mat-option>
                        <mat-option value="yaml">Yaml</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="fontsizeSelect">
                    <mat-label>Select Font Size</mat-label>
                    <mat-select [(value)]="fontSize" (selectionChange)="fontSizeChanged()">
                        <mat-option value="8px">8px</mat-option>
                        <mat-option value="10px">10px</mat-option>
                        <mat-option value="12px">12px</mat-option>
                        <mat-option value="14px">14px</mat-option>
                        <mat-option value="16px">16px</mat-option>
                        <mat-option value="18px">18px</mat-option>
                        <mat-option value="20px">20px</mat-option>
                        <mat-option value="24px">24px</mat-option>
                        <mat-option value="28px">28px</mat-option>
                        <mat-option value="32px">32px</mat-option>
                        <mat-option value="48px">48px</mat-option>
                        <mat-option value="64px">64px</mat-option>
                        <mat-option value="72px">72px</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="comment-section">
                <div class="comment comment-dark"><app-comment [comments]="project?.comments"></app-comment></div>
                
                <div class="commentInput">
                    <mat-form-field>
                        <mat-label>Leave a comment</mat-label>
                        <textarea matInput 
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="4"
                            cdkAutosizeMaxRows="4"></textarea>
                    </mat-form-field>
                    <button mat-raised-button color="primary" id="submitComment">Submit Comment</button>
                </div>
            </div>
        </div>
    </div>
</div>