<div class="code-share-header">
  <mat-toolbar color="primary">
    <img src="assets/codeshare.png" height="50px" alt="CodeShare" />
    <h1>
      <a href="{{ getHome() }}" color="basic">Code Share</a>
    </h1>
    <div class="btnPanel">
      <button
        mat-button
        [matMenuTriggerFor]="themeMenu"
        class="paint"
        matTooltip="Click To Change Theme"
      >
        <mat-icon>format_paint</mat-icon>
      </button>
      <mat-menu #themeMenu>
        <button
          mat-menu-item
          *ngFor="let theme of themeList"
          (click)="changeTheme(theme.theme)"
        >
          <mat-icon>{{
            theme.using ? "radio_button_checked" : "radio_button_unchecked"
          }}</mat-icon>
          {{ theme.name }}
        </button>
      </mat-menu>
      <button
        *ngIf="!isAboutPage"
        mat-raised-button
        color="warn"
        id="btnProfile"
        (click)="openProfileDialog()"
      >
        Profile
      </button>
      <a
        href="{{ getAboutPage() }}"
        *ngIf="!isAboutPage"
        mat-raised-button
        color="accent"
        class="btnAbout"
        >About</a
      >
    </div>
  </mat-toolbar>
</div>
