<div class="code-share-header">
    <mat-toolbar color="primary">
        <h1>Code Share</h1>
        <button mat-button [matMenuTriggerFor]="themeMenu" class="paint"><mat-icon>format_paint</mat-icon></button>
        <mat-menu #themeMenu>
            <button mat-menu-item *ngFor="let theme of themeList" (click)="changeTheme(theme.theme)">
                <mat-icon>{{theme.using ? 'radio_button_checked' : 'radio_button_unchecked'}}</mat-icon>
                {{theme.name}}
            </button>
        </mat-menu>
        <button mat-raised-button id="btnProfile" (click)="openProfileDialog()">User Profile</button>
    </mat-toolbar>
</div>