.code-share-header {
    width: 100%;
    height: 60px;
}

h1 {
    font-size: 22pt;
}

#btnProfile {
    position: absolute;
    right: 20px;
}

.paint {
    position: absolute;
    right: 150px;
}

img {
    height: 50px;
    margin-right: 10px;
}