<div>
    <app-header [isAboutPage]="true"></app-header>
    <div class="centerPanel">
        <h1>Code Share</h1>
        <img src="assets/codeshare.png" alt="CodeShareIcon" width="150px">
        <div><i>CodeShare is a open source <br> code sharing platform</i></div>
        <div class="techPanel">
            <h2>Technology</h2>
            <ul>
                <li>Angular 11</li>
                <li>Angular Material</li>
                <li>RxJS</li>
                <li>Ace Editor</li>
                <li>Spring Boot</li>
                <li>MongoDB</li>
            </ul>
        </div>
        <div>
            <table>
                <tr>
                    <td><b>Contact:</b></td>
                    <td>
                        <a mat-flat-button href="mailto:stanley2058@yahoo.com.tw">stanley2058@yahoo.com.tw</a>
                    </td>
                </tr>
                <tr>
                    <td><b>Repository:</b></td>
                    <td><a mat-flat-button href="https://github.com/stanley2058/CodeShare" target="_blank">Github Page</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>