<div>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput id="username" (change)="usernameChanged()" value="{{name}}">
    </mat-form-field>
    <mat-form-field matTooltip="{{uuidReadonly ? 'Click To Copy' : ''}}" [matTooltipPosition]="'right'">
        <mat-label>UUID</mat-label>
        <input matInput [readonly]="uuidReadonly" id="uuid" [ngClass]="{'uuidPointer': uuidReadonly}" value="{{uuid}}">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="generateUUID()">Generate UUID</button>
    <button mat-raised-button color="warn" (click)="toggleInput()">{{uuidReadonly ? 'Input UUID' : 'Finished'}}</button>
    <div class="discription">Your UUID is your unique identifier, please save it if you want to access your project elsewhere later.</div>
    <br>
    <button mat-raised-button color="accent" (click)="openHistoriesDialog()">View My Histories</button>
</div>